* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.navbar.navbar-dark.bg-dark.pt-3.pb-3{
  padding-left: 10pt;
  padding-right: 10pt;

}

.accordhead {
  font-size: 16px;
  font-weight: 700;
}

.myeditor-menu{
  width: 100%;
  height: 10rem;
  background-color: #ECECEA;
  justify-content: flex-start;
  align-items: center;
  padding: 1px 0 5px 10px;
}

h1{
  margin-left:10px;
  color:white;
}

.btn{
  margin-left:5px;
  margin-right:5px;
  }

.mylive {
  font-size: 1.6rem;
  font-weight: bold;
  border: 2px solid #3d3051;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius:  3px;
  cursor: pointer;
}

.mylive>* {
  cursor: pointer;
}

.mycontainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.mymonacocontainer {
  width: 100%;
  height: 100vh;
}

.mynewleft{
  padding-left: 1%;
  padding-right:0.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 50%;
}

.mynewright{
  padding-right: 1%;
  padding-left:0.5%;
  padding-top: 1%;
  padding-bottom: 1%;  width: 50%;
}

.mymids{
  font-family:monospace;
  background-color: black;
  font-size: medium;
  height: 50%;
  width: 100%;
}

.myeditor {
  width: 100%;
  height:100%;
  font-size: 1.6rem;
  font-family:monospace;
  outline: none;
  padding: 1rem 0 0 1rem;
  border-color: #9d76d8;
  background-color : #c3aae9;
  color : #3d3051;
}

.myiframe {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  white-space: pre;
  right: 0;
  padding: 4px;
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}


.myfakeMenu {
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.myfakeScreen {
  background-color: #151515;
  color: white;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.terminalp {
  position: relative;
  text-align: left;
  font-size: 1.25em;
  margin:0;
  font-family: monospace;
  white-space: normal;
  overflow: hidden;
  width: 100%;
}

span {
  color: #fff;
  font-weight: bold;
}


.line1 {
  color: #9CD9F0;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: #CDEE69;
  -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
}

.line3 {
  color: #E09690;
  -webkit-animation: type .5s 7.5s steps(20, end) forwards;
  -moz-animation: type .5s 7.5s steps(20, end) forwards;
  -o-animation: type .5s 7.5s steps(20, end) forwards;
  animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
}

.line4 {
  color: #fff;
  -webkit-animation: type .5s 10.75s steps(20, end) forwards;
  -moz-animation: type .5s 10.75s steps(20, end) forwards;
  -o-animation: type .5s 10.75s steps(20, end) forwards;
  animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 100%;
  }
}

@-moz-keyframes type {
  to {
    width: 100%;
  }
}

@-o-keyframes type {
  to {
    width: 100%;
  }
}

@keyframes type {
  to {
    width:100%
  }
}


