body {
    background-color: #ECECEA;
}


.title{
    text-align: center;
    padding-bottom: 40px;
}


.signin{
    padding-bottom: 10px;
}
/* h1{
    color:black;
    font-size: 64px;
}


h2{
    color:black;
    font-size: 32px;
} */

.errorMessage {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    bottom: 2%;
    position: fixed;
    align-content: center;
    text-align: center;
    font-size: 18px;
    width: 100%;
}


.form-group{
    font-size: 16px;
}

.form-control.input-lg{
    font-size: 16px;
}

.signup{
    font-size: 12px;
}

.form-text.text-muted{
    font-size: 10px;
}

.btntextloginpage{
    font-size: 16px;
}

.login-wrapper {
    background-color: #ECECEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}